@if ($menuItems | async; as items) {
    <div class="menu-grid">
        @for (item of items; track item.title) {
            <div class="menu-card flex flex-column justify-content-between">
                <div class="flex flex-column align-items-center">
                    <div class="menu-card__img">
                        <img
                            class="block"
                            [src]="'menu/' + item.img"
                            [alt]="item.title"
                            (click)="zoomInImage(item.img)"
                        >
                    </div>

                    <div class="flex flex-column gap-1rem align-items-center justify-content-between">
                        <div class="flex flex-column gap-1rem">
                            <span class="menu-card__title font-size-l">
                                {{ item.title }}
                            </span>

                            <span class="menu-card__desc font-size-sm">
                                {{ item.description }}
                            </span>
                        </div>
                    </div>
                </div>

                <button class="w-full primary">
                    В корзину
                </button>
            </div>
        }
    </div>
} @else {
    <pizza-spinner
    ></pizza-spinner>
}

<ng-template
    #imageZoomInTemplate
    let-data
>
    <div class="dialog">
        <button
            class="close-btn"
            mat-dialog-close
            aria-label="Закрыть"
        >
            <mat-icon>
                close
            </mat-icon>
        </button>

        <img
            class="fullscreen-img"
            alt="Pizza"
            [src]="data.src"
        >
    </div>
</ng-template>
