@use './theme/theme' as *;

@font-face {
    font-family: 'Muller';
    src: url('/fonts/muller/MullerRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/muller/MullerBlack.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/muller/MullerBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('/fonts/muller/MullerExtraBold.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

html {
    font-family: 'Muller', sans-serif;
    font-size: 16px;
    line-height: 1.2;

    @media (min-width: 3840px) {
        font-size: 32px;
    }

    > body {
        margin: 0;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.align-self-end {
    align-self: self-end;
}

.gap-0_5rem {
    gap: 0.5rem;
}

.gap-1rem {
    gap: 1rem;
}

.gap-1_5rem {
    gap: 1.5rem;
}

.gap-3rem {
    gap: 3rem;
}

.gap-3_75rem {
    gap: 3.75rem;
}

.gap-15rem {
    gap: 15rem;
}

.weight-500 {
    font-weight: 500;
}

.weight-700 {
    font-weight: 700;
}

.weight-900 {
    font-weight: 900;
}

.font-size-sm {
    font-size: 0.875rem;
}

.font-size-l {
    font-size: 1.125rem;
}

.font-size-lg {
    font-size: 1.5rem;
}

.font-size-xl {
    font-size: 2.1875rem;
}

.font-size-xxl {
    font-size: 2.8rem;
}

.orange-100 {
    color: var(--orange-100);
}

.orange-300 {
    color: var(--orange-300);
}

.orange-400 {
    color: var(--orange-400);
}

.orange-500 {
    color: var(--orange-500);
}

.orange-800 {
    color: var(--orange-800);
}

.orange-900 {
    color: var(--orange-900);
}

.pb-3_75rem {
    padding-bottom: 3.75rem;
}

.pb-8rem {
    padding-bottom: 15rem;
}

.pb-15rem {
    padding-bottom: 15rem;
}

.w-14rem {
    width: 14rem;
}

.w-20_625rem {
    width: 20_625rem;
}

.w-24rem {
    width: 24rem;
}

.w-full {
    width: 100%;
}

.dialog {
    position: relative;

    .close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 10;
        padding: 0;
        width: fit-content;
    }
}

.thanks-dialog {
    font-weight: 700;
    padding: 1.5rem;
    text-align: center;
}

.fullscreen-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
